<!DOCTYPE=html>
<html>

<head>
    <title>
        {% if story %}Super Sprinter 3000 - Edit Story {% else %}Super Sprinter 3000 - Add new Story {% endif %}
    </title>

</head>

<body>
    {% if story.id %}
    <h1>User Story Manager - Edit Story</h1>
    <form action="{{ url_for('update_stories', story_id=story.id)}}" method='POST'>
        {% else %}
        <h1>Story Manager - Add new Story</h1>
        <form action="{{ url_for('create_story') }}" method='POST'>
            {% endif %}

            <div>
                <label for="title">Story Title</label><br>
                <textarea rows="1" cols="30" type="text" name="title" id="title">{{ story.title }}</textarea>
            </div>
            <div>
                <label for="story">User Story</label><br>
                <textarea rows="10" cols="30" name="story" id="story">{{ story.story }}</textarea>
            </div>
            <div>
                <label for="criteria">Acceptance Criteria</label><br>
                <textarea rows="10" cols="30" name="criteria" id="criteria">{{story.criteria}}</textarea>
            </div>
            <div>
                <label for="business_value">Business Value</label><br>
                <input type="number" name="business_value" id="business_value" min="100" max="1500" step="100" value="{{story.business_value}}">
            </div>
            <div>
                <label for="estimation">Estimation (h)</label><br>
                <input type="number" name="estimation" id="estimation" min="0.5" max="40" step="0.5" value="{{story.estimation}}">
            </div>
            <div>
                <label for="status">Status</label><br>
                <select name="status">
                {% for stat in statuses %}
                    {% if story and story.status.id == stat.id %}
                    <option selected='selected' value={{stat.id}}>{{stat.name}}</option>
                    {% else %}
                    <option value={{stat.id}}>{{stat.name}}</option>
                    {% endif %}
                {% endfor %}

            </select>
            </div>
            <div>
                {% if story %}
                <br><input type="submit" value="Update"> {% else %}
                <br><input type="submit" value="Create"> {% endif %}

            </div>
        </form>
</body>




</html>